body {
    background-image: url(background.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 50%;
}
.format_field {
    position: relative;
    left: 54%;
    width: 80%;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#title {
    border: 2px solid lightsalmon;
    margin: 10px;
    border-radius: 5px;
}
img {
    width: 50px;
}
a:hover {
    color: aqua;
}