body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgb(65, 65, 65), black);
    color: white;
    width: 60%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid grey;
}

main {
    display: flex;
    flex-flow: column wrap;
}

header {
    padding-top: 70px;
}

.content {
    text-align: left;
    padding-left: 1em;
    margin-bottom: 1em;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: greenyellow;
}
a:hover {
    color: rgb(231, 0, 231);
}
#rodape {
    background-color: rgb(118, 80, 255);
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}
#navegacao {
    position: fixed;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 80, 255);
    border-radius: 5px;
    padding: 10px 20px;
}

#nav_list li {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid black;
}

#nav_list li:last-child {
    border-right: none;
}

#navegacao a {
    font-size: 1em;
}
#imagem {
    width: 13em;
    margin: auto;
    display: block;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    #nav_list {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 85%;
    }

    #navegacao {
        position: fixed;
        width: 85%;
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    
    #nav_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: -40px;
    }

    header {
        padding-top: 70px;
    }
}